@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}